pyttsx3==2.99
SpeechRecognition==3.14.3
pyaudio==0.2.14
openai==1.98.0
requests>=2.25.0
python-dotenv==1.1.1
google-auth>=2.15.0
google-auth-oauthlib>=0.7.1
google-auth-httplib2>=0.1.0
google-api-python-client>=2.70.0
numpy==2.3.2
sounddevice==0.5.2
scipy==1.16.1